<div class="card-area">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chalkduster">
  <span class="numberBooks" id="numberBooks"> {{bookModel.numberExemplars}}</span>

  <div class="bookTitleDiv">
    <span class="bookTitle" id="bookTitle"> {{bookModel.title}}</span>
  </div>

  <div class="bookAuthorDiv">
    <span class="bookAuthor" id="bookAuthor"> {{bookModel.author}}</span>
  </div>

  <div class="descriptionBook">
    <span id="descriptionBookID">{{bookModel.description}}</span>
  </div>
</div>