<div class="allPage">
    <div style="text-align:center">
        <h1 class="appTitle">
            {{ title }}
        </h1>
    </div>
    <div class="container">
        <div class="container-buttons">
            <button id="login" class="loginReg" (click)="loginBtnPress()">Login</button>
            <button id="registration" class="loginReg" (click)="regBtnPress()">Register</button>
        </div>

        <div class="description">
            {{ description }}
        </div>

    </div>

</div>